  <mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        star_border</mat-icon>
      <span>Home</span>
    </button>
    <button mat-flat-button routerLink="/chi-siamo" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">favorite_border
      </mat-icon>
      <span>Chi siamo</span>
    </button>
    <button mat-flat-button routerLink="/contatti" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">history</mat-icon>
      <span>Contatti</span>
    </button>
  </mat-toolbar>
