.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-icon {
  color: #223150;
}
table {
  width: 100%;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

@import "../../../theme/customClasses";
