<app-header-private></app-header-private>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<div
  class="container-fluid"
  *ngIf="!isLoading; else loader"
>
  <div class="row text-center mt-4">
    <div class="col-lg-6 col-md-6 col-6 m-0 p-0  mb-4">
      <h5>Schede di allenamento</h5>
      <span>{{schede?.length}}</span>
    </div>
    <div class="col-lg-6 col-md-6 col-6 m-0 p-0 mb-4">
      <h5>Esercizi</h5>
      <span>{{esercizi?.length}}</span>
    </div>

  </div>
  <mat-divider class="mb-3"></mat-divider>
  <div class="col-12 col-md-10 offset-md-1">
    <div class="row justify-content-between mt-3">
      <div
        class="col-12 col-md-6 "
        *ngIf="schede && schede.length >0 else noSchede"
      >
        <div class="d-flex align-items-center gap-3 p-3">
          <button
            class="custom-material-rounded-button d-flex align-items-center justify-content-center add-btn"
            mat-fab
            color="primary"
            (click)="createScheda()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <h3>Schede</h3>
        </div>

        <div class="custom-material-wrapper">
          <table
            class="custom-material-wrapper"
            mat-sort
            mat-table
            [dataSource]="dataSource"
          >
            <ng-container matColumnDef="Nome">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              >Nome</th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
                (click)="detailScheda(element)"
              >
                {{ element.nome }}
              </td>
            </ng-container>


            <ng-container matColumnDef="Data Inizio">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              >Data Inizio</th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
                (click)="detailScheda(element)"
              >{{
                element.dataInizio }}</td>
            </ng-container>

            <ng-container matColumnDef="Data Fine">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              >Data Fine</th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
                (click)="detailScheda(element)"
              >{{
                element.dataFine }}</td>
            </ng-container>

            <ng-container matColumnDef=" ">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              ></th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
              ><button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="deleteScheda(element)"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Elimina</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="editScheda(element)"
                  >
                    <mat-icon>edit</mat-icon>
                    <span>Modifica</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="detailScheda(element)"
                  >
                    <mat-icon>info</mat-icon>
                    <span>Visualizza scheda</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>


            <tr
              class="custom-material-wrapper"
              mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
              class="custom-material-wrapper"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
          <mat-paginator
            class="custom-material-wrapper"
            [pageSizeOptions]="[5, 10, 25, 100]"
          ></mat-paginator>

        </div>
      </div>
      <div
        class="col-12 col-md-6 mt-4 mt-md-0"
        *ngIf="esercizi && esercizi.length else noEsercizi"
      >
        <div class="d-flex align-items-center gap-3 p-3">
          <button
            class="custom-material-rounded-button"
            mat-fab
            color="accent"
            (click)="createEsercizio()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <h3>Esercizi</h3>
        </div>
        <div class="custom-material-wrapper">
          <table
            class="custom-material-wrapper"
            mat-sort
            mat-table
            [dataSource]="dataSourceEsercizi"
          >
            <ng-container matColumnDef="Nome">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              >Nome</th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
                (click)="detailEsercizio(element)"
              >
                {{ element.nome }}
              </td>
            </ng-container>


            <ng-container matColumnDef="Tipo">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              >Tipo</th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
                (click)="detailEsercizio(element)"
              >
                {{
                element.tipo }}</td>
            </ng-container>



            <ng-container matColumnDef=" ">
              <th
                class="custom-material-wrapper"
                mat-header-cell
                *matHeaderCellDef
              ></th>
              <td
                class="custom-material-wrapper"
                mat-cell
                *matCellDef="let element"
              ><button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="deleteEsercizio(element)"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Elimina</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="editEsercizio(element)"
                  >
                    <mat-icon>edit</mat-icon>
                    <span>Modifica</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="detailEsercizio(element)"
                  >
                    <mat-icon>info</mat-icon>
                    <span>Visualizza esercizio</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>


            <tr
              class="custom-material-wrapper"
              mat-header-row
              *matHeaderRowDef="displayedColumnsEsercizi"
            ></tr>
            <tr
              class="custom-material-wrapper"
              mat-row
              *matRowDef="let row; columns: displayedColumnsEsercizi"
            ></tr>
          </table>
          <mat-paginator
            class="custom-material-wrapper"
            [pageSizeOptions]="[5, 10, 25, 100]"
          ></mat-paginator>

        </div>
      </div>
      <ng-template #noSchede>
        <div class="col-5 m-0 p-0">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="text-center">Scheda di allenamento</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p *ngIf="esercizi.length == 0 else changeParagraph">
                Hai {{esercizi.length}} esercizi inseriti,<span *ngIf="esercizi.length > 0 ">per creare una nuova scheda
                  clicca qui!</span>
                <span *ngIf="esercizi.length == 0 ">per creare una nuova scheda bisogna aggiungere esercizi, clicca
                  qui!</span>

              </p>
              <ng-template #changeParagraph>
                <p>
                  Nessuna Scheda inserita,clicca qui!
                </p>
              </ng-template>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="success"
                [disabled]="esercizi.length==0"
                (click)="createScheda()"
              >
                <mat-icon class="mr-4">add</mat-icon><span>AGGIUNGI SCHEDA</span>
              </button>
              <button
                mat-raised-button
                color="success"
                (click)="createEsercizio()"
              >
                <mat-icon class="mr-4">add</mat-icon><span>AGGIUNGI ESERCIZIO</span>
              </button>

            </mat-card-actions>
          </mat-card>
        </div>


      </ng-template>
      <ng-template #noEsercizi>
        <div class="col-5 m-0 p-0">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="text-center">Esercizi</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Non hai esercizi inseriti, per crearne di nuovi clicca qui!


              </p>

            </mat-card-content>
            <mat-card-actions>

              <button
                mat-raised-button
                color="success"
                (click)="createEsercizio()"
              >
                <mat-icon class="mr-4">add</mat-icon><span>AGGIUNGI ESERCIZIO</span>
              </button>

            </mat-card-actions>
          </mat-card>
        </div>


      </ng-template>
    </div>

  </div>
</div>